---
import LayoutDefault from "../assets/layouts/LayoutDefault.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const [blogPosts, sharePosts] = await Promise.all([getCollection("blog"), getCollection("share")]);

const posts = [
	...blogPosts.map((entry) => ({ ...entry, collectionType: "blog" })),
	...sharePosts.map((entry) => ({ ...entry, collectionType: "share" })),
].sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const title = "Library";
const description = "My Description";
const image = "../assets/images/favicon.svg";
---

<LayoutDefault title={title} description={description} image={image}>
	<section class="prose">
		<h1>Welcome to my online digital notebook</h1>
		<hr />
		<h2>Blog Posts</h2>
		<ul class="posts" role="list">
			{
				blogPosts.map((post) => (
					<li>
						<article>
							<Image src={post.data.image} format="avif" layout="constrained" alt={post.data.alt} />
							<hgroup>
								<h2>
									<a href={`/library/blog/${post.data.slug}/`}>{post.data.title}</a>
								</h2>
								<time datetime={post.data.pubDate.toISOString().split("T")[0]}>
									{post.data.pubDate.toISOString().split("T")[0]}
								</time>
							</hgroup>
							<p>{post.data.description}</p>
						</article>
					</li>
				))
			}
		</ul>
		<hr />
		<h2>Share Posts</h2>
		<ul class="posts" role="list">
			{
				sharePosts.map((post) => (
					<li>
						<article>
							<Image src={post.data.image} format="avif" layout="constrained" alt={post.data.alt} />
							<hgroup>
								<h2>
									<a href={`/library/share/${post.data.slug}/`}>{post.data.title}</a>
								</h2>
								<time datetime={post.data.pubDate.toISOString().split("T")[0]}>
									{post.data.pubDate.toISOString().split("T")[0]}
								</time>
							</hgroup>
							<p>{post.data.description}</p>
						</article>
					</li>
				))
			}
		</ul>
	</section>
</LayoutDefault>

<style>
	.posts {
		display: grid;
		grid: auto / repeat(auto-fill, minmax(min(280px, 100%), 1fr));
		gap: 3rem;
	}

	li {
		position: relative;
		background: var(--blockColor);
		backdrop-filter: blur(3px);
		border-radius: var(--borderRadius);
		border: solid var(--borderWidth) var(--borderColor);
		isolation: isolate;

		&:has(a:hover),
		&:focus-within {
			background: oklch(from var(--colorPri) l c h / 0.2);
			border-color: oklch(from var(--colorPri) l c h / 0.5);
		}

		&:has(a:hover) {
			& ~ li {
				opacity: 0.5;
			}
		}

		&:has(~ li a:hover) {
			opacity: 0.5;
		}

		@media (prefers-reduced-motion: no-preference) {
			& {
				transition:
					border-color 0.05s ease-in-out,
					background 0.15s ease-in-out;
			}
		}
	}

	article {
		padding: 1em;
		block-size: 100%;
		display: flex;
		flex-flow: column;
		gap: 1.75rem;

		h2 {
			font-size: var(--fs-2);
			line-height: 1.1;

			a {
				display: inline-block;
			}

			a::before {
				content: "";
				position: absolute;
				inset: 0;
				z-index: 1;
				outline: inherit;
			}
		}

		img {
			inline-size: 100%;
			aspect-ratio: 16 / 10;
			object-fit: cover;
			border-radius: var(--borderRadius);
			transition: scale 0.2s var(--easing);
			transform-origin: 50% 100%;
		}

		time {
			font-size: var(--fs-0);
			display: inline-block;
			background: oklch(from var(--colorSuc) l c h / 0.15);
			color: var(--colorSuc);
			border-radius: var(--borderRadius);
			font-variation-settings: "wght" 700;
			padding-inline: 0.3em;
			padding-block: 0.15em;
		}

		p {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
			font-size: var(--fs-0);
			flex-grow: 1;
			mask: linear-gradient(to bottom, white 50%, transparent);
		}

		&::after {
			content: "Read More";
			font-size: var(--fs-1);
			padding-inline: var(--paddingGap);
			padding-block: calc(var(--paddingGap) / 1.35);
			background: var(--buttonColor);
			border: var(--buttonBorder);
			border-radius: var(--borderRadius);
			text-align: center;
		}

		&:hover::after,
		&:focus-within::after {
			background: oklch(from var(--colorPri) l c h / 0.5);
			border-color: oklch(from var(--colorPri) l c h / 1);
		}

		@media (prefers-reduced-motion: no-preference) {
			&:hover::after,
			&:focus-within::after {
				transition:
					border-color 0.05s ease-in-out,
					background 0.15s ease-in-out;
			}
		}
	}
</style>
